<!-- <script src="{{ site.baseurl }}/kdk-assets/js/slick.min.js"></script> -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js"></script>


<script type="text/javascript">
    $(document).ready(function(){
        $('.slick-slideshow').slick({
        	autoplay: true,
        	autoplaySpeed: 5000,
        	speed: 1000
        });
    });
</script>


<script src="{{ site.baseurl }}/kdk-assets/js/backstretch.min.js"></script>

{% if page.background %}
{% capture pbg %}
{% for bg in page.background %}
  "{{ site.baseurl }}/kdk-assets/imgs/{{ bg.url }}",
{% endfor %}
{% endcapture %}
{% endif %}

<script type="text/javascript">

$.backstretch([ {{ pbg }} ], {duration: 5000, fade: 2000});

</script>