//
// global
//
$width: 960px;

//
// background, color
//
$primary-color: #090;
$secondary-color: #099;
$link-color: #069;


//
// fonts
//

$mono: Cousine, monospace;
$sans: 'Open Sans', Helvetica, Arial, san-serif;